
body{width: 100%;height: 100%;color:#5E5E5E;}

/*===============================头部========================================*/

/*====左边======*/
#top{width: 100%;height: 38px;line-height: 38px;background-color:#F1F1F1;color:#888888;}
#top .place{height: 38px;width:100px;text-align: center;display:inline-block;position: relative;z-index: 100;}
/*#top .place i{font-size: 12px;}*/
#top .place ul{display:none;width: 270px;text-align:left;position: absolute;left:0;top:38px;border:1px solid #F1F1F1;border-top: 0;background-color: #Fff;}
#top .place li{height: 20px;line-height: 20px;font-size: 12px;padding-left: 10px;font-weight: bold;color:#ddd;}
#top .place li a{padding-left: 10px;color:#5E5E5E;font-weight: normal;}
#top a:hover{text-decoration: underline;}

/*====右边======*/
#top .topr li{float:left;line-height:38px;}
#top .topr li span{padding-left: 10px;padding-right: 10px;border-right: 1px solid #ccc;height: 12px;color:#5E5E5E;}
#top .topr li:last-child span{border-right:0;}
#top .topr li:last-child span i{color:red;font-size: 14px;}
#top .topr li span a{margin-left: 5px;color:#5E5E5E;}
#top .topr li:nth-child(1) span a:nth-child(1){color:red;}
#top .topr li:nth-last-child(2) span{color:#C7A774;font-weight: bold;}

/*====我的1药网======*/
#top .topr .toprt i{font-size: 12px;}
#top .topr .toprt{position: relative;}
#top .topr ul{display:none;position: absolute;left:0;top:38px;border:1px solid #eee;border-top: 0;background-color: #Fff;}
#top .topr ul li{width: 98px;text-align: center;line-height:26px;}
#top .topr ul li a{color:#888888;}
/*=================================搜索模块===========================================*/

/*=======logo=============*/
#search{height: 190px;}
#search h1{text-indent: -1000px;font-size: 0;}
#search .logo{background:url("../images/2.png") no-repeat;width:285px;height: 130px;display:inline-block;}


/*========搜索============*/

#search .searchc{display:inline-block;width:550px;height: 100px;font-size:0;margin-top: 30px;}
#search .searchc input:nth-child(1){width: 450px;height: 46px;border:1px solid #C7A774;padding-left: 5px;}
#search .searchc div{display:inline-block;width: 80px;height: 46px;border:1px solid #C7A774;text-align:center;line-height: 46px;vertical-align: middle;margin-left:-1px;}


#search .searchc ul{width: 450px;height: 30px;}
#search .searchc ul li a{float:left;padding:10px 15px 0 0;font-size:12px;line-height: 12px;color:#505050;}
#search .searchc ul li:nth-child(1) {color:#E94948;}


/*==========二维码==========*/

#search .erweima{width: 265px;height: 100px;margin-top: 30px;}
#search .erweima div{display:inline-block;width: 132px;border:1px solid #ccc;margin-left:20px;text-align: center;line-height:38px;vertical-align: top;position: relative;}
#search .erweima div i:nth-child(1){font-size: 20px;padding:0 20px;}
#search .erweima div i:nth-child(4){padding:0 10px;}
#search .erweima div i:nth-child(2){width: 20px;height: 20px;border-radius: 50%;background-color: red;position: absolute;left:36px;top:0;text-align:center;line-height: 20px;font-size: 12px;color:#fff;}


/*=================================导航==========================================*/

#nav{height: 48px;border-bottom: 2px solid #C98753;}
#nav .nav1{display:inline-block;width: 930px;}
#nav .nav1>li{float:left;line-height: 48px;font-size: 16px;padding:0 15px;position: relative;}
#nav .nav1>li a{color:#505050;}

#nav .nav1>li>a:hover{text-decoration: underline;color:#7396FF;}
#nav .nav1>li:nth-child(1){background-color:#19323A;width: 150px;height: 48px;}
#nav .nav1 .white{color:white;font-size: 14px;font-weight: bold;}
#nav .nav1 .red{color:red;}
#nav .nav1 .purple{color:#864EFE;}

/*===========二级导航===============*/
#nav .nav2{display:none;background-color:#314349;height: 401px;width:180px;position: absolute;left:0;top:48px;z-index:1000;}
#nav .nav2 li a{color:#fff;font-size: 14px;}
#nav .nav2 li{line-height:38px;padding-left:10px;}
#nav .nav2 li i{font-size:22px;padding-right: 10px;vertical-align: middle;color:#fff;}
#nav .nav2 li:hover{padding-left:12px;background-color: #fff;margin-left:5px;transition:all 0.3s;}
#nav .nav2 li:hover a{color:#314349;}
#nav .nav2 li:hover i{color:#314349;}

#nav .nav2  li .navimg img{width: 253px;height:400px;border-left:1px solid #Ccc;}

/*===========三级导航===============*/
#nav .nav3{position:absolute;left:180px;top:0;width:800px;height: 400px;color:#000;display:none;background-color: #fff;z-index: 100;border:1px solid #Ccc;border-right:0;}
#nav .nav2 li:hover .nav3{display:flex;}
#nav .nav3 dl a{color:#000;}
#nav .nav3 div{flex:1;padding-left:5px;}
#nav .nav3 div:nth-child(3){border-right: 1px solid #ccc;}
#nav .nav3 div:last-child{padding-left:0;}

#nav .nav3 dl{display:block;padding-bottom: 5px;overflow:hidden;}
#nav .nav3 dt{display:block;height:30px;font-weight:bold;}
#nav .nav3 dl dd{float:left;height: 24px;}
#nav .nav3 dl dd a{display:inline-block;padding:0 5px;border-right: 1px solid #ccc;line-height:12px;height: 12px;}
#nav .nav3 dl dd:nth-child(1) a{color:red;}
#nav .nav3 dl dd a:hover{text-decoration: underline;}


#nav .nav3 div img{height:198px;}
#nav .nav3 div img:nth-child(1){border-bottom: 1px solid #ccc;}
#nav .nav3 dl dd:nth-child(2) a{color:red;}
/*==============================footer=======================================*/
#footer{height: 180px;width: 100%;background-color:#f0f0f0;}
#footer>ul{text-align: center;padding-top:30px;}
#footer>ul li{display:inline-block;width:280px;height: 150px;background:url("../images/footer.png") no-repeat;}
#footer>ul li:nth-child(1){background-position:0 0;}
#footer>ul li:nth-child(2){background-position:-298px 0;}
#footer>ul li:nth-child(3){background-position:-620px 0;}
#footer>ul li:nth-child(4){background-position:-910px 0;}

#footer>ul li:hover{transform:translate(0,-20px);transition:all 0.3s;}

/*==================*/
#footer .footer_erweima{margin-bottom: 20px;}
#footer .footer_erweima li{display:inline-block;width:360px;height:108px;background-color: #f0f0f0;padding:20px 0 20px 20px;margin:20px 20px 0 0;}

#footer .footer_erweima li:nth-child(3){margin:20px 0 0 0;}
#footer .footer_erweima li h4{font-size: 20px;color:#c7a774;}
#footer .footer_erweima li p{display:inline-block;line-height: 20px;padding-top: 5px;}
#footer .footer_erweima li div{padding-left:20px;}


/*===================*/

#footer .container dl{display:inline-block;width: 130px;margin:0 10px;vertical-align: top;}
#footer .container dl dt{font-size: 16px;color:#5e5e5e;font-weight: bold;padding-bottom:10px;}
#footer .container dl dd a{line-height: 24px;color:#999;}
#footer dl dd a:hover{text-decoration: underline;}

#footer .container .phone{display:inline-block;width:246px;height: 96px;border-left:1px solid #eee;padding-left:20px;text-align: center;padding-top:20px;}
#footer .container .phone p{font-size: 18px;color:#c7a774;font-weight: bold;margin-bottom: 6px;}

#footer .container .phone span{line-height: 18px;color:#999;}
#footer .service{margin-bottom:30px;}

/*===================*/
#footer .container p{line-height: 24px;text-align: center;}
#footer .container p a{display:inline-block;padding:0 10px;border-right:1px solid #5e5e5e;color:#5e5e5e;height: 14px;vertical-align:middle;line-height: 14px;}
#footer .container p a:last-child{border-right: 0;}
#footer .container p a:hover{text-decoration: underline;color:red;}

#footer .container>img{display:block;margin:20px auto;}

#footer .container .jiewei a{border:0;vertical-align: middle;}
#footer .container .jiewei i{padding-left:10px;font-size: 16px;color:red;}

/*======================main===============================*/


#main .seachListBox{margin-left:265px;width: 1000px;margin-top:2px;}
#main .searchColSub{margin-left:80px;}


#main .icon_btn{background: url(//s.maiyaole.com/images/201306/images/global/search_sprite.png) no-repeat 0px 0px;background-position: -53px 13px;height: 38px;outline: none;float:left;}
#main .open{background-position: -15px 13px;}

/*商品列表*/

#main .sy_maingoods li{display:inline-block;width: 230px;height: 350px;padding-left:20px;padding-top: 20px;}
#main .sy_maingoods li a:nth-of-type(2){display:block;height: 32px;color:#5E5E5E;}
#main .sy_maingoods li img{width: 200px;height: 200px;}

#main .sy_maingoods .price{color:#f00;line-height: 22px;font-weight: bold;font-size: 16px;
    height: 22px;}


#main .sy_maingoods .view{display:inline-block;background:url(///s.maiyaole.com/images/201306/images/searchList/search_detail_ico.png) no-repeat;background-position: 3px 50%;;background-size: 14px auto;padding:0 30px;width:50px;height:30px;border:1px solid #ccc;border-right:0;margin-top:5px;line-height: 30px;color:#5E5E5E;}

#main .sy_maingoods .consultation{display:inline-block;background:url(//s.maiyaole.com/images/201306/images/searchList/search_consult_on.png) no-repeat;background-position: 15px 50%;background-size: 14px auto;padding:0 30px;width:50px;height: 30px;border:1px solid #ccc;margin-top:5px;color:#ff6666;line-height: 30px;}




#main .self_name{ background: url("../images/goodslist/2.png") no-repeat 0 50%;
    padding-left: 18px;
    width: auto;}





/*==========推荐=============*/
#main .tuijian_box{text-align: center;}
#main .tuijian_box a{display:block;color:#000;margin:10px 10px;}
#main .tuijian_box span{color:red;font-size: 16px;}





/*===============原网====================*/


/*��ಿ��*/
.searchColSub {width: 180px;}
.itemChoose {overflow: hidden;margin:10px 0;border:1px solid #dbdbdb;border-top:0;}
.itemChoose h2 {font-size: 14px;font-weight: bold;padding: 8px 12px 9px;background-color: #ddd;border-top:1px solid #dbdbdb;}
.itemChoose h3 {height: 36px;overflow: hidden;padding: 0 5px 0 15px;font-size: 12px;line-height: 36px;border-top: 1px solid #e6e6e6;background-color: #f5f5f5;}
.itemChoose h2 a, .itemChoose h3 a, .itemChoose li a {color: #5e5e5e;}
.itemChoose h3 a:hover, .itemChoose li a:hover {color: #e54948;}
.itemChoose li a span {color: #999;font-weight: normal;}
.itemChoose li a:hover span {color: #e54948;}
.itemChoose ul {padding: 7px 0;overflow: hidden;}
.itemChoose li {line-height: 25px;white-space: nowrap;padding: 0 5px 0 34px;}
.itemChoose li a.current, .itemChoose li a.current:hover,.itemChoose li a.current span {color: #e54948;}
.itemChoose ul.show {display: block;}
.itemChoose .icon_btn {float: left;width: 18px;height: 24px;outline: none;background-position: -53px 13px;}
.itemChoose h3 .icon_btn {height: 38px;}
.itemChoose h3 a:hover .icon_btn {background-position: -72px 13px;}
.itemChoose h3 .icon_btn.open {background-position: -15px 13px;}
.itemChoose h3 a:hover .icon_btn.open {background-position: -34px 13px;}


.info_box {border: 1px solid #e6e6e6;color: #5e5e5e;line-height: 1.5;margin-bottom: 10px;}
.info_box h2 {background-color: #f5f5f5;border-bottom: 1px solid #e6e6e6;font-size: 14px;font-weight: bold;padding: 8px 12px 9px;}

.info_box .info_list01 {padding: 10px 0 20px;}
.info_box .info_list01 li {float: left;height: 20px;overflow: hidden;padding: 7px 0 0 13px;width: 80px;}

.info_box .info_list02 {font-size: 12px;overflow: hidden; zoom:1;}
.info_box .info_list02 li {border-bottom: 1px dotted #ebebeb;float: left;overflow: hidden;padding: 12px 19px 13px 13px; width:145px; margin-bottom:-1px;}
.info_box .info_list02 li .photo {float: left;margin: 3px 10px 0 0;}
.info_box .info_list02 li .photo a {display: block;}
.info_box .info_list02 li p {display: block;float: left;width: 80px;}
.info_box .info_list02 li p span {color: #e72418;display: block;font-family: Arial;font-weight: bold;}
.info_box .info_list02 li p a {display: block;height: 35px;overflow: hidden;zoom: 1;}
.info_box .info_list02 li p a:hover {text-decoration: underline;}

/*�Ҳಿ��*/
.searchColMain {width:1000px;}

.searchCrumb {position: relative;z-index: 13;padding: 10px 0;zoom: 1;}
.searchCrumb .resultNum {float: right; padding-right:15px;}
#num {font-weight: bold;color: #e54948;}
.searchCrumb ul { float:left; line-height:21px; width:750px;}
.searchCrumb ul li { float:left; margin-right:8px; height:30px; position:relative;}
.searchCrumb ul li a { display:inline-block; margin-right:5px; color:#5e5e5e; padding:1px 5px;}
.searchCrumb ul li .all {background-position: -385px 5px; padding: 0 0 0 25px; color:#333;}
.searchCrumb ul li a:hover,.searchCrumb ul li .all:hover,.searchCrumb .backOn .linkOne { color:#d00; text-decoration:none;}
.searchCrumb ul li ul { float:none; width:auto;position: absolute;z-index: 12;border: 1px solid #dbdbdb;background-color: #fff;width: 433px;padding: 10px;top: 30px;left: 0;display: none;}
.searchCrumb ul a i {margin-left: 15px;background-position: -128px -446px;height: 10px;overflow: hidden;display: inline-block;width: 10px;vertical-align: middle;}
.searchCrumb .tab_navi a { padding: 1px 9px 1px 14px; margin-right:7px;}
.searchCrumb .lastOne .linkOne {padding: 0 8px 0 13px;color: #e54948;}
.searchCrumb .tab_navi .linkOne:hover,.searchCrumb .backOn .linkOne {padding: 0 8px 9px 13px;background-color: #fff;border: 1px solid #dbdbdb;border-bottom: none;position: relative;z-index: 13;text-decoration: none;}
.searchCrumb .backOn ul.secondList { display:block;}
.searchCrumb .tab_navi ul li {width: 105px;float: left;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;line-height: 1.8;margin: 0 0 5px;}
.searchCrumb .tab_navi ul li a, .searchCrumb .tab_navi ul li a:hover {padding: 0;border: none;}



.seachListBox {margin-bottom: 10px;}
.filtroSelectDl {overflow: hidden;zoom: 1;background-color: #f8f8f8;border: 1px solid #dbdbdb;border-bottom: none;line-height: 27px;padding: 0 9px;}
.filtroSelectDl dt {padding: 5px;float: left;clear: left;width: 72px;text-align: right;}
.filtroSelectDl dd {padding-left: 72px;}
.filtroSelectDl dd ul {width: 750px;overflow: hidden;zoom: 1;}
.filtroSelectDl dd ul li {float: left;overflow: hidden;zoom: 1;margin: 0 10px 0 0;padding: 5px 0;white-space: nowrap;}
.filtroSelectDl dd ul li a {padding: 0 10px;border: 1px solid #dbdbdb;display: block;float: left;text-align: center;background-color: #fff;}
.filtroSelectDl dd ul li a:hover {border: 1px solid #e54948;}
.filtroSelectDl dd ul li a span {float: left;max-width: 150px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.filtroSelectDl li i.deleteX {margin-right: 5px;background-position: -357px -194px;cursor: pointer;display: block;float: left;height: 13px;overflow: hidden;margin-top: 8px;width: 13px;margin-left: 5px;vertical-align: middle;}
.filtroSelectDl li a:hover i{background-position:-357px -230px;}

.deleteAll {float: right;padding-left: 20px;color: 5e5e5e;margin-top: 6px;background-position: -2px -684px;}
.deleteAll:hover {background-position: -102px -684px; text-decoration:none;}

.filterAttrList {width: 740px;}
.filterAttrList li {display: inline;float: left;margin: 16px 42px 0 0;}
.filterAttrList .none {display: none;}
.filterAttrList li a {float: left;color: #5e5e5e;word-break: break-all;word-wrap: break-word;}
.filterAttrList li a:hover {color: #e54948;text-decoration: underline;}
.filterAttrList li span {float: left;height: 16px;line-height: 16px;min-width: 20px;cursor: pointer;overflow: hidden;zoom: 1;}
.filterAttrList li .cur {border-color: #e54948;}
.filterAttrList li .cur span {color: #e54948;}
.filterAttrList li i {display: none;float: left;width: 13px;height: 13px;overflow: hidden;margin: 2px 0 0 3px;background-position: -357px -194px;vertical-align: 2px;cursor: pointer;}
.filterAttrList li .cur i {display: block;}
.filterAttrList li .cur i.hover {background-position: -357px -230px;}

.searchResultOp dl {position: relative;z-index: 0;border-bottom: 1px solid #eeeeee;margin-top: -1px;}
.searchResultOp dl dt {
    float: left;
    width: 122px;
    height: 15px;
    overflow: hidden;
    margin: 13px 0 13px 12px;
    text-align: left;
    line-height: 16px;
    color: #333333;
}
.searchResultOp dd {float: left;margin-bottom: 10px;}
.searchResultOp dd span.all {float: left;height: 16px;margin-top: 7px;line-height: 16px;}
.searchResultOp dd span.all a {float: left;padding: 0 5px;}
.searchResultOp dd span.all a.cur {background: #e54948;color: #fff;}
.searchResultOp dd span.all a.cur:hover {color: #fff;}
.searchResultOp dd .selection {float: left;}
.searchResultOp {padding: 0 10px 0 9px;zoom: 1;clear: left;position: relative;border: 1px solid #dbdbdb;}
#group_attr { overflow:hidden; zoom:1;}


.searchResultOp .searchOpOperate {position: absolute;top: 6px;right: 0;width: 90px;}

.searchOpOperate a {height: 18px;color: #666;line-height: 18px;background-position: 0 0;}
.searchOpOperate a:hover {color: #e54948;}
.searchOpOperate .filterMulti {float: left;width: 27px;margin-right: 11px;padding-left: 17px;background-position: 0 -440px;}
.searchOpOperate .filterMulti:hover {background-position: -50px -440px;}
.searchOpOperate .filterMultiBack {display: none;float: right;width: 50px;background-position: 0 -470px;text-align: center;}
.searchOpOperate .more {float: right;padding-right: 11px;background-position: -100px -440px;}
.searchOpOperate .more:hover {background-position: -140px -440px;}
.searchOpOperate .packup {float: right;padding-right: 11px;background-position: -180px -440px;}
.searchOpOperate .packup:hover {background-position: -220px -440px;}
.searchOpOperateMulti .filterMulti, .searchOpOperateMulti .more {display: none;}
.searchResultOp dl dd select {float: left;width: 108px;margin: 6px 0 0 0;color: #666;}

.selection p {display: none;width: 745px;margin-top: 30px;text-align: center;}
.selection button {width: 45px;height: 23px;margin: 0 7px;border: 0;background-position: 0 0;}
.selection .confirm {background: #cbcbcb none;color: #fff;}
.selection .clickable {background: #e54948 none;color: #fff;cursor: pointer;}
.selection .clickable:hover {background: #e54948 none;color: #fff;}
.selection .cancel {border: 1px solid #dbdbdb;background: #fff none;color: #5e5e5e;cursor: pointer;}

.filterBrandListMore {display: none;width: 830px;margin-top: 16px;}
.brandSwitch li {float: left;width: 8px;margin-right:20px;margin-bottom:10px;color: #666;text-align: center;cursor: pointer;}
.brandSwitch .other {width: 24px;}
.filterBrandListAll {position: relative;z-index: 0;max-height: 106px;overflow-x: hidden;overflow-y: auto;margin-top: 10px;margin-left: -13px;padding-left: 13px;}
.filterBrandListAllUl {position: relative;}
.filterBrandListAllUl li {_display: inline;margin-bottom: 3px;}
.filterBrandListAllUl li .firstLetter {float: left;width: 11px;margin-right: 20px;color: #ccc;line-height: 16px;}
.filterBrandListAllUl li .other {_position: relative;width: 24px;margin-left: -13px;}
.filterBrandListAllUl li ul {float: left;width: 584px;margin-right: -9px;}
.filterBrandListAllUl li li {margin-top: 0;padding-bottom: 7px;}

.searchOpBrand .filterAttrList li {width: 120px;margin-right: 26px;}
.searchOpBrand .filterAttrList li span {max-width: 120px;_width: 120px;white-space: normal;word-wrap: break-word;word-break: break-all;}
.selectionMulti .filterAttrList {width: 795px;margin-right: -15px;}
.selectionMulti .filterAttrList li {width: 183px;margin-right: 10px;zoom: 1;}
.selectionMulti .filterAttrList li a:hover, .selectionMulti li .cur {color: #e54948;}
.selectionMulti p {display: block;}
.selectionMulti .filterBrandListAll .filterAttrList {display: block;}
.selectionMulti .filterAttrList li .cur i {display: none;}
.selectionMulti .filterAttrList li a {padding-left: 16px;background-position: -389px -648px;}
.selectionMulti .filterAttrList li a:hover {background-position: -389px -668px;}
.selectionMulti .filterAttrList li .cur, .selectionMulti .filterAttrList li .cur:hover {background-position: -389px -688px;}

.rankOp {height: 30px;border: 1px solid #dbdbdb;background: #f5f5f5;line-height: 30px;}
.rankOp ul, .rankOp li {float: left;}
.rankOp ul.rank li {border-right: 1px solid #dbdbdb;}
.rankOp ul.rank .rank_select {color: #e54948;}
.rankOp ul.rank li a {display: block;padding: 0 10px;color: #333; text-decoration:none;}
.rankOp ul.rank li a:hover {background: #fff;}
.rankOp ul.rank li.normal a {color: #e54948;}
.rankOp ul.rank li span {display: block;background-position: 0 0;padding: 0 10px;}
.rankOp ul.rank li.default span {background-position: right -400px;}
.rankOp ul.rank li.defaultPrice span {background-position: right -333px;}
.rankOp ul.rank li.defaultPrice.priceUp span {background-position: right -356px;color: #e54948;font-weight: bold;}
.rankOp ul.rank li.defaultPrice.priceDown span {background-position: right -379px;color: #e54948;font-weight: bold;}
.rankOp ul.rank li.defaultPrice.priceUp a, .rankOp ul.rank li.defaultPrice.priceDown a {background-color: #fff;}
.rankOp ul.rank li.up a, .rankOp ul.rank li.down a, .rankOp ul.rank li.normal {background: #fff;color: #e54948;font-weight: bold;}
.rankOp ul.rank li.up span {background-position: right -440px;}
.rankOp ul.rank li.down span {background-position: right -420px;}

.price_range {width: 96px;height: 30px;border-right: 0;}
.price_range div {width: 86px;padding: 0 4px 0 6px; position: relative;z-index: 10;}
.price_range p {line-height: 18px;padding-top: 6px;}
.price_range input {width: 31px;height: 16px;margin: 0 3px;padding-left: 1px;border: 1px solid #ccc;color: #999;vertical-align: middle;}
.price_range input.cur {margin: -1px 2px;border: 2px solid #58baef;}
.price_range_btn {display: none;padding: 6px 2px 5px 3px;}
.price_range_btn cite {color: #06c;font-style: normal;line-height: 22px;cursor: pointer;}
.price_range_btn button {float: right;width: 40px;height: 22px;border: none;background-position: 0 -80px;cursor: pointer;}
.rank .price_range.cur div {margin-left: -1px;border: 1px solid #ccc;border-top: 0;background: #fff;box-shadow: 2px 2px 4px #ddd;}
.price_range.cur p.price_range_btn {display: block;}
.rankOp ul.select {padding-left: 10px;border-right: 1px solid #DBDBDB;}
.rank_select {margin-right: 12px;_padding-top: 12px;}
.rank_select b {color: #e54948;}
.rank_select input {margin: 0 5px 0 4px;_margin: -3px 0 0 0;vertical-align: middle;}
.rank_select label {cursor: pointer;}

.rankOp .ticket_pro_search{ display:inline-block; margin-left:10px;}
.rankOp .ticket_pro_search .search_box{ width:100px; height:20px; line-height:20px; border:1px solid #ccc; text-indent:8px;}
.rankOp .ticket_pro_search .search_btn{ width:40px; height:20px; line-height:20px; text-align:center; border-radius:4px; background:#FF6666; color:#fff; font-size:12px; cursor:pointer; margin-left:8px; display:inline-block;}
.rankOp .ticket_pro_search .search_btn:hover{ text-decoration:none;}

.rankOp ul.page {float: right;margin-right: 5px;}
.rankOp ul.page .pageNum {padding-right: 7px;color: #333;}
.rankOp ul.page .pageNum span {color: #e54948;}
.rankOp ul.page a {float: left;margin: 8px 0 0 5px;padding: 2px;border: 1px solid #dbdbdb;background-color: #fff;line-height: 15px;}
.rankOp ul.page a.cur {background: #f3f3f3;color: #e54948;font-weight: bold;}
.rankOp ul.page a.prev, .rankOp ul.page a.next {display: inline;float: left;width: 18px;height: 18px;margin: 6px 5px 0 0;padding: 0;border: none;background-position: 0 0;text-indent: -999em;}
.rankOp ul.page a.prev {background-position: 0 -310px;}
.rankOp ul.page a.prevNo {background-position: -36px -310px;}
.rankOp ul.page a.next {background-position: -18px -310px;}
.rankOp ul.page a.nextNo {background-position: -54px -310px;}


.itemSearchResult li {float: left;margin: 4px 11px 10px 0;height: 422px;position: relative;width: 234px;}
.itemSearchResult li .itemSearchResultCon {position: relative;z-index: 0;width: 200px;padding: 7px 14px 10px 14px;border: 3px solid #fff;background-color: #fff;}
.itemSearchResult li .pro_img {display: block;position: relative;width: 200px;height: 200px;overflow: hidden;margin-top:40px;}
.itemSearchResult li .pro_img img {display: block;margin: 0 auto;width: 200px;height: 200px;}
.itemSearchResult .pic_list span {float: left;width: 40px;height: 40px;margin-right: 15px;border: 1px solid #ccc;cursor: pointer;}

.itemSearchResult li .promo_info .promo_info_left {float: left;width: 194px;height: 20px;overflow: hidden;color: #e54948;}
.itemSearchResult li .promo_info .width_limit {width: 112px;}
.itemSearchResult li .promo_info a {border-bottom: 1px solid #e54948;color: #e54948;}
.itemSearchResult li .promo_info a:hover {border-color: #f60;color: #f60;cursor: pointer;}
.itemSearchResult li .promo_info .promo_info_orange {border: none;color: #f60;}
.brand dl dd a:hover, .rankOp ul.page .pageNum span {color: #e54948;}
.itemSearchResult li a.title {display: block;overflow: hidden;line-height: 20px;word-wrap: break-word;word-break: break-all;margin:0;height:20px;}
.itemSearchResult li a.title:hover {color: #e54948;}
.itemSearchResult li a.title_zuhe{margin-top:3px;height:40px;}
.itemSearchResult li .promo_info .promo_info_nohover, .itemSearchResult li .promo_info .promo_info_nohover:hover {border: 0;color: #e54948;}
.itemSearchResult li p {overflow: hidden;zoom: 1;}
.itemSearchResult li p.price {margin-top: 5px;}
.itemSearchResult li p.price span {float: left;height: 22px;overflow: hidden; font-size:16px; font-weight:bold; color:#f00; line-height:22px;}
.itemSearchResult li .price .comment {float: right;width: 51px;height: 14px;overflow: hidden;margin-top: 4px;color: #666;line-height: 14px;text-decoration: underline;  text-align: right;}
.itemSearchResult li .price .comment:hover {color: #e54948;}
.itemSearchResult li p.price strong {padding-right: 2px;font-size: 16px;color: #e54948;}
.itemSearchResult li del {margin-left:15px;color: #999;line-height: 20px;_margin-left:13px;font-family: Arial; float:left;}
.itemSearchResult li .promo_info {height: 20px;margin-top: 3px;line-height: 20px;}
.itemSearchResult li .promo_info .promo_info_right, .itemSearchResult li .promo_info .promo_info_rightMall {float: right;height: 20px;overflow: hidden;color: #666;text-align: right;white-space: nowrap;}
.itemSearchResult li p.price{ position:relative; padding:5px 0;}
.itemSearchResult li p.price .sixyear_mark{ width:47px; height:16px; text-align:center; line-height:16px; font-size:10px; color:#fff; display:inline-block; border-radius:1px; background:url(//s.maiyaole.com/images/activity/double11/1111.png) no-repeat 0 0; text-indent:-9999px; font-size:0; position:absolute; right:0px;}

.itemSearchList li {padding: 0px 4px;}
.itemSearchList .comment {color: #5e5e5e;height:20px;line-height:20px;clear: both;}
.itemSearchList .comment a {color: #0083ce;float: left; padding-right:20px;}
.itemSearchList .comment .popularity {color: #999;float: left;display: none;}
.itemSearchList {margin-right: -13px;position: relative;}
.itemSearchList .item_kit .k_cur{font-weight:bold;color:#CC0000;}
.itemSearchList .item_kit{position:absolute;top:10px;left:50%;z-index:102;width:199px;margin-left:-100px; overflow:hidden; zoom:1; height:25px;}
.itemSearchList .item_kit .item_kit_clip{width:200px;border-bottom:1px solid #dfdfdf;overflow:hidden; zoom:1;}
.itemSearchList .item_kit a{float:left;width:50px;height:20px;background:url(//s.maiyaole.com/images/201306/images/searchLabelSprites.png) no-repeat 49px -310px;_background:url(//s.maiyaole.com/images/201306/images/searchLabelSprites_ie6.png) no-repeat 49px -310px;text-align:center;line-height:20px;color:#5e5e5e;}
.itemSearchList .item_kit a.cur{color:#e60012;font-weight:bold;}
.itemSearchList .item_kit a:hover {color:#e60012;}
.itemSearchList .item_kit i{display:block;position:absolute;top:19px;left:18px;width:51px;height:4px;margin-left:-1px;border-top:2px solid #e60012;background:url(//s.maiyaole.com/images/201306/images/searchLabelSprites.png) no-repeat 21px -301px;_background:url(//s.maiyaole.com/images/201306/images/searchLabelSprites_ie6.png) no-repeat 21px -301px;line-height:0;font-size:0;}
.itemSearchList .price i {color:#5e5e5e;float:left; font-weight:normal; font-family:Arial;line-height:20px;}

.itemSearchResult li .sheng{position:absolute;right:15px;top:41px;overflow:hidden;background:url(//s.maiyaole.com/images/201306/images/searchLabelSprites.png) no-repeat 0 -236px;text-indent:0;height:55px;width:56px;font-size:14px;color:#fff;font-weight:bold;text-align:center;}
.itemSearchResult li .sheng span{width:56px;text-align:center;display:block;line-height:16px;margin-top:10px;}

.itemSearchResult li .backOn {z-index: 101;border-color: #eaeaea; background-color:#fff;}
.itemSearchResult li .backOn .promo_info .promo_info_left{height:auto;overflow:auto;}
.itemSearchResult li .backOn .promo_info{height:auto;overflow:auto;}
.price img {float:left;}
.itemSearchResult li .backOn a.title{height:auto;overflow:auto;}
.itemSearchResult li .backOn .bg_border{display:block;position:absolute;top:-7px;left:-7px;z-index:-1;width:100%;height:100%;overflow:hidden;padding:1px;zoom:1;}

.itemSearchResult li div.buyInfo {padding: 7px 0 6px;}
.itemSearchResult li .buyInfo a {display: block;margin-right: 5px;vertical-align: middle;}
.itemSearchResult li button {width: 78px;height: 26px;margin-right: 5px;border: 0;background-position: 0 0;line-height: 1.2;vertical-align: middle;cursor: pointer;}
.itemSearchResult li .buy {background: #e62418 none;font-size: 12px;color: #fff;}
.itemSearchResult li .buy:hover {background: #d70100 none;}
.itemSearchResult li .sellout {background: #f3f3f3 none;color: #a5a5a5;cursor: no-drop;border: 1px solid #e6e6e6;}
.itemSearchResult li .sellout:hover {color: #333;}
.itemSearchResult li .notice {color: #333;cursor: pointer;}
.itemSearchResult li .store_name {height: 16px;overflow: hidden;color: #666;line-height: 16px;}
.itemSearchResult li .store_name a {display: inline;color: #666;text-decoration: underline;}
.itemSearchResult li .store_name a:hover {color: #e54948;}
.itemSearchResult li div.appraise span.store_name a:hover {color: #e54948;}
.itemSearchResult li .appraise .store_name, .itemSearchResult li .buyInfo .store_name {float: right;width: 110px;margin-top: 0;text-align: right;}
.itemSearchResult li .buyInfo .store_name {height: 26px;line-height: 26px;}
.itemSearchResult li .store_name a.icoGshop {display: inline-block;overflow: hidden;color: #666;line-height: 14px;text-decoration: underline;}
.itemSearchResult li .buyInfo .store_name .icoGshop s {vertical-align: -6px;}
.itemSearchResult li .toDetail, .itemSearchResult li .sellout {}

.itemSearchResult li input.search_list_reduce, .itemSearchResult li input.search_list_reduce_gray, .itemSearchResult li input.search_list_plus, .itemSearchResult li input.search_list_plus_gray {width: 21px;height: 21px;border: 0;background: url(//s.maiyaole.com/images/201306/images/global/listIcon.png) no-repeat;vertical-align: middle;cursor: pointer;}
.itemSearchResult li input.search_list_reduce {margin-right: 2px;background-position: 0 -23px;}
.itemSearchResult li input.search_list_reduce_gray {margin-right: 2px;background-position: 0 0;cursor: no-drop;}
.itemSearchResult li input.search_list_plus {margin: 0 7px 0 2px;background-position: -23px -23px;}
.itemSearchResult li input.search_list_plus_gray {margin: 0 5px 0 3px;background-position: -23px 0px;cursor: no-drop;}
.itemSearchResult li input.num {width: 30px;height: 19px;line-height: 19px;border: 1px solid #e6e6e6;color: #262626;text-align: center;vertical-align: middle;}

.itemSearchResult .pic_list {width:200px;margin:6px 0 0 0;overflow:hidden;}
.itemSearchResult .pic_list a.arrow {float:left;width:8px;height:42px;outline:0;}
.itemSearchResult .pic_list a.prevDisable {background-position:0 -333px;cursor: disabled;}
.itemSearchResult .pic_list a.prev {background-position:-9px -333px;cursor: pointer}
.itemSearchResult .pic_list a.prev:hover {background-position:-18px -333px;}
.itemSearchResult .pic_list a.nextDisable {background-position:-24px -333px;cursor: disabled;}
.itemSearchResult .pic_list a.next {background-position:-33px -333px;cursor: pointer;}
.itemSearchResult .pic_list a.next:hover {background-position:-42px -333px;}
.itemSearchResult .pic_list div {float:left;width:188px;height:42px;margin-right:-4px;overflow:hidden;}
.itemSearchResult .pic_list .wrapImg{width:1000px;}
.itemSearchResult .pic_list div span {margin-right:5px;}
.itemSearchResult .pic_list div span img {width:40px;height:40px;}
.itemSearchResult .pic_list span.current {border:1px solid #e54948;}


.turnPageBottom {color: #333;font-size: 12px;line-height: 26px;padding: 7px 0 20px;text-align: center;}
.turnPageBottom a, .turnPageBottom span {background-color: #fff;border: 1px solid #ddd;color: #333;display: inline-block;margin: 0 1px;text-align: center;vertical-align: middle;width: 31px;}
.turnPageBottom span {width: auto;}
.turnPageBottom span.dot {border: 0 none;color: #b4b4b4;line-height: 22px;padding: 0 5px;vertical-align: top;}
.turnPageBottom .page_break {padding: 5px;}
.turnPageBottom a:hover, .turnPageBottom .page_cur {background-color: #0083ce;border: 1px solid #0083ce;color: #fff;font-weight: bold;text-decoration: none;}
.turnPageBottom .page_cur {width: 31px;font-weight: bold;}
.turnPageBottom .page_break {border: none;}
.turnPageBottom .page_next, .turnPageBottom .page_prew {width: 60px;}
.turnPageBottom .page_next:hover, .turnPageBottom .page_prev:hover {background-color: ##fef9f9;}
.turnPageBottom span.pageOp {margin: 0;border: none;}
.turnPageBottom span.pageOp.go {padding: 2px 1px 0 0;;line-height: 20px;}
.turnPageBottom span.pageOp input {background: none repeat scroll 0 center rgba(0, 0, 0, 0);border: 1px solid #ddd;height: 26px;line-height: 26px;margin: 0 5px 0 3px;text-align: center;vertical-align: top;width: 48px;}
.turnPageBottom span.pageOp button {background-color: #e8e8e8;margin-left: 2px;width: 60px;border: 1px solid #ddd;color: #333;display: inline-block;text-align: center;vertical-align: middle;line-height: 26px;}
.turnPageBottom span.pageOp button:hover {background-color: #0083ce;border: 1px solid #0083ce;color: #fff;font-weight: bold;}

#listSearchFilter {position: relative;z-index:12;}
.seachListBox .filtroDl {background-color: #f8f8f8;border: 1px solid #dbdbdb;border-top: none;line-height: 27px;padding: 6px 9px;}
.filtroDl dt {margin-top: 3px;float: left;clear: left;width: 72px;text-align: right;}
.filtroDl dd ul {float: left;width: 800px;}
.filtroDl dd ul li {float: left;position: relative;margin: 3px 10px 3px 0;}
.filtroDl dd ul li a.linkOne {padding: 0 10px;border: 1px solid #dbdbdb;display: inline-block;text-align: center;background-color: #fff;}
.filtroDl dd ul li a.linkOne i {background: url(//s.maiyaole.com/images/201306/images/indexhead_sprite.png) no-repeat scroll right 5px;display: inline-block;height: 10px;margin-left: 8px;overflow: hidden;width: 10px;}
.filtroDl .listShow {position: absolute;left: 0;top : 28px;border: 1px solid #dbdbdb;padding: 5px 10px;width: 320px;background-color: #fff;overflow: hidden;zoom: 1;z-index: 9999!important;display: none;}
.filtroDl dd ul .backOn a.linkOne {padding-bottom: 1px;}
.filtroDl dd ul li.backOn .listShow { display:block;}
.filtroDl dd ul li.backOn a.linkOne {z-index: 99999!important;background-color: #fff;position: relative;border-bottom: none;}
.filtroDl dd ul li.backOn a.linkOne span {color: #e54948;}
.filtroDl .listShow dd {float: left;width: auto;}
.filtroDl .listShow .searchOpOperate {float: right;}
.filtroDl dd .selection {padding: 0;margin: 0;}
.filtroDl .selection ul li {float: left;text-overflow: ellipsis;white-space: nowrap;margin: 0 25px 7px 0;}
.filtroDl .filterAttrList {width: 260px;}
.filtroDl .filterAttrList li a { line-height:16px; height:16px;}
.filtroDl .selection p {width: 320px;clear: both;}


.searchwrap,.searchwrap .searchColMain{ width:990px;}
.searchPromoTitle {padding: 20px 0;clear: both;}
.searchPromoTitle h3 {color: #e54948;font-size: 24px;font-family: Microsoft Yahei;font-weight: normal;}
.searchPromoTitle h3 span {color: #666;font-size: 16px;font-weight: normal;}
.searchPromoTitle h3 a {font-size: 12px;font-weight: normal;font-family: Simsun;}
.searchPromoTitle p {padding-top: 4px;color: #666;font-size: 16px;font-family: Microsoft Yahei;}

.listZenBox {margin-bottom: 10px;clear: both;overflow: hidden;zoom: 1;}
.listZenBox .tabNavi {clear: both;overflow: hidden;zoom: 1;margin-right: -20px;font-family: Microsoft Yahei;}
.listZenBox .tabNavi li {width: 190px;float: left;text-align: center;height: 63px;font-size: 20px;margin-right: 10px;}
.listZenBox .tabNavi li a {display: block;background-position: -203px -836px;color: #e62418;line-height: 63px;}
.listZenBox .tabNavi li.current a, .listZenBox .tabNavi li a:hover {background-position: -3px -836px;color: #fff;text-decoration: none;}
.listZenBox .noPoint li span {background-position: -3px -836px;color: #fff;line-height: 63px;display: block;}
.listZenBox .tabBox {padding: 12px 0 0 0;position: relative}
.listZenBox .tabBox .iconUp {width: 14px;position: absolute;margin-top: -8px;left: 90px;height: 10px;background-position: -380px -770px;}
.listZenBox .tabBox .iconUp2 {left: 300px;}
.listZenBox .tabBox .iconUp3 {left: 495px;}
.listZenBox .tabBox .iconUp4 {left: 700px;}
.listZenBox .tabBox .iconUp5 {left: 900px;}
.listZenBox .proList {border: 1px solid #e62418;padding: 10px 0 10px 20px;clear: both;overflow: hidden;zoom: 1;}
.listZenBox .proList li {float: left;width: 190px;margin-bottom: 10px;}
.listZenBox .proList li a {text-decoration: none;}
.listZenBox .proList li img {float: left;height: 40px;width: 40px;margin-right: 10px;}
.listZenBox .proList li span.pText {display: block;color: #666;float: left;width: 120px;}
.listZenBox .proList li span.pText span {height: 35px;display: block;overflow: hidden;zoom: 1;}
.listZenBox .proList li em {display: block;color: #e62418;font-weight: normal;font-style: normal;}

.searchPromoSortTable {margin-bottom: 10px;width: 100%;border-collapse: collapse;font-size: 12px;font-family: '����';line-height: 1.5;}
.searchPromoSortTable .searchResultOp { overflow:hidden; border:0; padding:0;}
.searchPromoSortTable .searchResultOp dl { margin-bottom:-1px; padding-bottom:8px;}
.searchPromoSortTable th {width: 130px;background-color: #f7f7f7;border: 1px solid #e6e6e6;padding: 10px 0;color: #666;}
.searchPromoSortTable td {border: 1px solid #e6e6e6;padding: 0 20px;}
.searchPromoSortTable td ul#CategoryPromotionAll li a {color: #666;}
.searchPromoSortTable .filterBrandListMore{ width:790px;}
.searchPromoSortTable .selectionMulti .filterAttrList{ width:760px;}

.productName {display: block;height: 16px;line-height: 16px;overflow: hidden;}
.promoTitle{display: block;height: 20px;line-height: 16px;overflow: hidden; color:#e54948;}
.backOn .promoTitle{ height:auto;white-space:normal;}
.backOn .productName{ height:auto;white-space:normal;}
.itemSearchResult { font-family:arial;}
.titleBox{}
.icon_618{width:48px;float:left; margin-right:10px;}

/*990px*/
.w990 .wrap {width: 990px;}
.w990 .searchColMain {width: 800px;}
.w990 .filterAttrList {width: 520px;}
.w990 .selectionMulti .filterAttrList {width: 584px;}
.w990 .filterBrandListMore {width: 610px;}
.w990 .searchOpBrand .filterAttrList li, .w990 .selectionMulti .filterAttrList li {margin-right: 10px;}
.w990 .selection p {width: 525px;}

.bfd_ls_odiv {width: 180px;}
.bfd_ls_odiv .bfd_ls_a_t_p {width: 150px;}
.bfd_ls_odiv .bfd_ls_pic {width: 150px;height: 150px;}
.bfd_ls_odiv .bfd_ls_title {padding: 0 0 0 5px;}

.left_ad{ width:180px; margin-top:10px;}
.left_ad a { float:left; line-height:250px; font-size:0; width:180px; height:250px; overflow:hidden; margin-bottom:10px;}
.bottom_ad { width:1190px; height:90px; overflow:hidden; padding:10px 0;}

/*lcl*/
.productName {display: block;height: 20px;line-height: 20px;overflow: hidden;}
.twoRow{ height:40px !important; white-space:normal !important}
.list_lable_business{
    float: left;
    margin-right: 6px;
    font-family: 华文黑体;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    width: 32px;
    height: 18px;
    background:/*#69d283*/ url(//s.maiyaole.com/images/common/activity/business_ico.png);
    color: #fff;
    border-radius:1px;
    background-size:32px 18px;
}
.list_lable_self{
    float: left;
    margin-right: 6px;
    font-family: 华文黑体;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    width: 32px;
    height: 18px;
    background:/*#5dc3f1*/ url(//s.maiyaole.com/images/common/activity/sale_self_ico.png);
    color: #fff;
    border-radius:1px;
    background-size:32px 18px;
}
.list_lable_haiwaigou{
    float: left;
    margin-right: 6px;
    font-family: 华文黑体;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    width: 47px;
    height: 18px;
    background-image: url(//s.maiyaole.com/images/common/activity/haiwaigou.png);
    color: #9c27b0;
}
@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2){
    .list_lable_self{background-image:url(//s.maiyaole.com/images/common/activity/sale_self_ico@2x.png);}
    .list_lable_business{ background-image:url(//s.maiyaole.com/images/common/activity/business_ico@2x.png);}
}
/*lcl*/

/*seachResult*/
.seachResult {
    font-weight: normal;
    line-height: 1.6;
}
.seachResult span {
    color: #515151;
    font-weight: bold;
}
.seachResult .red {
    color: #e54948;
}
.aboutSearch {
    margin: 10px 0 0;
    padding: 15px 24px;
    font-size: 12px;
    overflow: hidden;
    zoom: 1;
    border: 1px solid #e6e6e6;
}
.aboutSearch dt {
    float: left;
}
.aboutSearch dd a {
    margin-right: 10px;
    color: #0083ce;
    text-decoration: none;
}
.aboutSearch dd a:hover {
    color: #d00;
}
.noResult { font-weight: bold;}
.noResult a {
    color:#0083ce;
    text-decoration:underline;
}
.noResult a:hover {
    color:#d00;
}
.willList {
    color: #999999;
    font-size: 12px;
    margin-bottom: 10px;
}

.willList a {
    color: #5e5e5e;
    margin-right: 20px;
    line-height: 1.8;
}

.willList a:hover {
    color: #e54948;
}
.backOn .twoRow {
    min-height:32px;
    height: auto!important;
}
/*******金牌药房******/
.goldseller_text{
    height: 20px;
    width: 60px;
    margin-bottom:8px;
    background:#FEAF42 ;
    display: inline-block;
    color:#FFFFFF;
    line-height:20px ;
    text-align: center;
    margin-right:8px;
}
.goldseller_name {
    height: 20px;
    width: 110px;
    color:#5E5E5E;
    display: inline-block;
    line-height: 20px;
    text-align: left;
    overflow:hidden;
    position:relative;
    margin-left:0;
    top:5px;
}

/*搜索列表——按钮样式修改 start*/
.sell_type_div{ padding-bottom:6px; overflow:hidden; clear:both;}
.itemSearchList .comment_right{ float:right; margin-top:5px;}
.itemSearchList .comment_right a{color:#9d9d9d;}
.itemSearchList .comment_right a em{ font-style:normal; color:#ff6666;}
.itemSearchList .self_name{ background:url(//s.maiyaole.com/images/201306/images/searchList/search_zan.png) no-repeat 0 50%; padding-left:18px; width:auto;}

.search_list_op{height:28px; border:1px solid #e5e5e5; border-radius:2px; padding:0 5px; outline:none;}
.itemSearchResult li .search_list_op input.search_list_reduce, .itemSearchResult li .search_list_op input.search_list_reduce_gray, .itemSearchResult li .search_list_op input.search_list_plus, .itemSearchResult li .search_list_op input.search_list_plus_gray{ margin-top:4px; width:19px; height:19px;}
.itemSearchResult li .search_list_op input.search_list_reduce_gray{ background-position:-1px -1px;}
.itemSearchResult li .search_list_op input.search_list_reduce{ background-position:-1px -24px;}
.itemSearchResult li .search_list_op input.search_list_plus{ background-position:-24px -24px;}
.itemSearchResult li .search_list_op input.search_list_plus_gray{ background-position:-24px -1px;}
.itemSearchResult li .search_list_op input.num{ margin-top:4px; border-top:none; border-bottom:none; height:14px;}

.itemSearchResult li .search_list_op .op_right_btn{padding-left:26px; width:88px; float:right; height:28px; background:#fff; color:#ff6666; background-repeat:no-repeat; background-size:15px 15px;}
.itemSearchResult li .search_list_op .border_left{ border-left:1px solid #e5e5e5;}
.itemSearchResult li .search_list_op .add_cart_btn{background-image:url(//s.maiyaole.com/images/201306/images/searchList/search_cart.png); background-position:8px 50%;}

.itemSearchResult li .search_list_op .look_detail_btn{ width:175px; color:#888888;padding-left:25px; padding-right:10px; height:28px; line-height:28px; background-image:url(//s.maiyaole.com/images/201306/images/searchList/search_detail_ico.png); background-repeat:no-repeat; background-position:3px 50%;background-size:14px 14px;}
.itemSearchResult li .search_list_op .send_require_btn{ background-image:url(//s.maiyaole.com/images/201306/images/searchList/search_require.png); background-position:15px 50%; background-size:12px auto;}
.itemSearchResult li .search_list_op .consult_btn{ background-image:url(//s.maiyaole.com/images/201306/images/searchList/search_consult_on.png); background-position:15px 50%; background-size:14px auto;}
.itemSearchResult li .search_list_op .look_detail_btn:hover{ text-decoration:none; color:#ff7b7b;}
.gold_brand_ico{ background:url(//s.maiyaole.com/images/201306/images/searchList/search_gold_ico.png) no-repeat 0 0; background-size:15px 15px; width:15px; height:15px; display:inline-block; float:left; margin-right:5px; margin-top:2px;}
.no_pro_mark{ height:32px; line-height:32px; text-align:center; display:block; width:100%; position:absolute; bottom:0; background:url(//s.maiyaole.com/images/201306/images/gray_bg.png) repeat; color:#fff; font-size:14px; font-family:"微软雅黑";}
@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2){
    .itemSearchResult li .search_list_op .add_cart_btn{background-image:url(//s.maiyaole.com/images/201306/images/searchList/search_cart@2x.png);}
    .itemSearchResult li .search_list_op .look_detail_btn{background-image:url(//s.maiyaole.com/images/201306/images/searchList/search_detail_ico@2x.png);}
    .itemSearchResult li .search_list_op .send_require_btn{ background-image:url(//s.maiyaole.com/images/201306/images/searchList/search_require@2x.png);}
    .itemSearchResult li .search_list_op .consult_btn{ background-image:url(//s.maiyaole.com/images/201306/images/searchList/search_consult_on@2x.png);}
}
/*搜索列表——按钮样式修改 end*/
/*搜索无结果*/
.no_search .no_search_t{margin-top:20px;padding:20px;font-size:14px;text-align:center;background:#fffcf8;border:2px solid #ceba98;}
.no_search .no_search_t .notice_icon{padding:10px 15px;background:url(//s.maiyaole.com/images/search_notice_icon.png) no-repeat;background-size:24px auto;display:inline-block;vertical-align:middle;}
.no_search .no_search_t p{height:30px;line-height:30px;}
.no_search .no_search_t .red{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;max-width:200px;display:inline-block;vertical-align:middle;}
.no_search .no_search_t a{margin:0 3px;padding:3px 5px;color:#3782c8;font-size:12px;border:1px solid #3782c8;text-decoration:none;}
.no_search .no_search_t .red_line{padding:0 5px;margin:0;color:#e54948;font-weight:bold;text-decoration:underline;border:0;}
.propose_good{margin-top:20px;overflow:hidden;border:1px solid #f3f3f3;text-align:center;}
.propose_good .propose_good_left{background:#f8f8f8;color:#9cc4fa;width:164px;height:178px;display:inline;float:left;padding:12px 7px 10px 7px;border-right:2px solid #9cc4fa;}
.propose_good .propose_good_left.cleargreen{color:#9dd5d2;border-color:#9dd5d2;}
.propose_good .propose_good_left.orange{color:#f2a681;border-color:#f2a681;}
.propose_good .propose_good_left .good_item{max-height:50px;line-height:25px;font-size:22px;margin:20px 0 15px 0;display:inline-block;border-bottom:2px solid #9cc4fa;padding-bottom: 15px;}
.propose_good .propose_good_left .good_text{height:30px;line-height:30px;font-size:18px;margin:0;overflow:hidden;}
.propose_good .propose_good_left .btn_more{height:30px;line-height:30px;margin-top:5px;padding:0 25px;display:inline-block;background:#9cc4fa;color:#fff;font-size:15px;border-radius:15px;text-decoration:none;}
.propose_good .propose_good_left .btn_more:hover{background:#68a7fb;}
.propose_good .propose_good_left.cleargreen .btn_more{background:#9dd5d2;}
.propose_good .propose_good_left.cleargreen .btn_more:hover{background:#2bd2ce;}
.propose_good .propose_good_left.orange .btn_more{background:#f2a681;}
.propose_good .propose_good_left.orange .btn_more:hover{background:#f9844b;}
.propose_good .propose_good_left.cleargreen .good_item{border-color:#9dd5d2;}
.propose_good .propose_good_left.orange .good_item{border-color:#f2a681;}
.propose_good .propose_good_right{width:1008px;float:left;}
.propose_good .propose_good_right ul{width:1010px;}
.propose_good .propose_good_right li{float:left;width:161px;display:inline;padding:10px 20px 10px 20px;border-right:1px solid #f3f3f3;}
.propose_good .propose_good_right li a{display:block;}
.propose_good .propose_good_right li a:hover img{opacity:.8;filter:alpha(opacity=80)}
.propose_good .propose_good_right img{width:130px;height:130px;}
.propose_good .propose_good_right .pro_tit{margin:5px 0;height:20px;line-height:20px;font-size:14px;display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;word-wrap:break-word;word-break:break-all;}
.propose_good .propose_good_right .pro_price{margin-right:10px;color:#d00;font:bold 16px Arial;}
.nedd_good{margin-top:20px;padding-bottom:20px;border-top:2px solid #d3d3d3;border-bottom:1px solid #f3f3f3;border-right:1px solid #f3f3f3;border-left:1px solid #f3f3f3;overflow:hidden;display:none}
.nedd_good .nedd_good_top{height:40px;line-height:40px;padding-left:10px;color:#505050;font-size:15px;border-bottom:1px solid #f3f3f3;}
.nedd_good .nedd_good_box{text-align:center;}
.nedd_good .nedd_good_box li{float:left;width:184px;display:inline;margin:0 7px;margin-top:12px;padding-bottom:10px;}
.nedd_good .nedd_good_box li a{display:block;}
.nedd_good .nedd_good_box li a:hover img{opacity:.8;filter:alpha(opacity=80)}
.nedd_good .nedd_good_box img{width:160px;height:160px;}
.nedd_good .nedd_good_box .pro_tit{margin-top:9px;height:40px;line-height:20px;display:block;overflow:hidden;word-wrap:break-word;word-break:break-all;}
.nedd_good .nedd_good_box .pro_price{margin-right:10px;color:#d00;font:bold 16px Arial;}
.nedd_good .nedd_good_box .pro_del{margin-left:4px;color:#999;line-height:20px;text-decoration:line-through;}

/*20170314*/
.itemSearchResult li .browse{width: 82px;text-align: center; height: 14px;margin-top: 6px;}
.itemSearchResult li .browse_bg1{background:url(//s.maiyaole.com/images/201306/images/searchList/search_browse_bg1.png) no-repeat 0 0;}
.itemSearchResult li .browse_bg2{background:url(//s.maiyaole.com/images/201306/images/searchList/search_browse_bg2.png) no-repeat 0 0;}
.itemSearchResult li .browse_bg3{background:url(//s.maiyaole.com/images/201306/images/searchList/search_browse_bg3.png) no-repeat 0 0;}
.itemSearchResult li .browse_bg4{background:url(//s.maiyaole.com/images/201306/images/searchList/search_browse_bg4.png) no-repeat 0 0;}

.ticket_search_part{background: #F5F5F5; height:132px; text-align:center; margin-top:10px;}
.ticket_search_part .top_part{display:inline-block; padding-top:25px;}
.ticket_search_part .top_part .activity_mark{ width:72px; height:30px; line-height:30px; text-align:center; display:inline-block;border-radius:15px; background:#FE7B7A;box-shadow: 0 2px 4px 0 rgba(224,90,90,0.30);color:#fff; font-size:18px; margin-right:10px;}
.ticket_search_part .top_part .activity_name{ font-size:22px; color:#333; line-height:30px;}
.ticket_search_part .ticket_activity_warm{ display:block; font-size:16px; color:#999; padding-top:20px;}

/**搜索合规**/
.searchMarks{clear: left;position: relative;border: 1px solid #D7D7D7;background-color:#F5F5F5;font-family: "Microsoft YaHei";margin-top: 10px; padding-right:350px;}
.searchMarks p{display: block;margin: 15px 20px; line-height:180%;}
.searchMarks .pro_part{ display:inline-block; position:absolute;right:25px; padding-top:8px;}
.searchMarks .pro_part img{width:60px; height:60px; float:left; margin-left:10px;}
.searchMarks span{font-size:13px;color:#151515; font-weight:bold;}
.chufang {text-align:center;width:234px;height:394px;margin-top: 10px;}
.chufang:hover{background: #FFFFFF;border: 1px solid #E9E9E9;box-shadow: 0 6px 8px 0 rgba(0,0,0,0.10);}
.chufang img{width:110px;height:110px;margin-top:47px;}
.chufang .name{color:#333333;font-size:20px;margin-top:36px;}
.chufang .jobName{color:#333333;font-size:14px;margin-top:25px;margin-bottom:15px;}
.chufang .jobName  .mm{padding:0 8px;color:#D8D8D8;}
.chufang .jobTag{color:#999999;font-size:13px;margin-bottom: 35px;}
.chufang .but-qustion{/*background: -webkit-linear-gradient(left,#F97072 0%,#F9799A 100%);*/background:#F97072;color: #ffffff;border-radius: 3px; width:102px; height:34px; line-height:34px; position:absolute; bottom:45px; left:70px;}
.chufang a:hover{ text-decoration:none;}


/*===============================头部购物车==================================*/


#search .erweima .minicart_list{
    display:none;
    position: absolute;
    width: 350px;
    z-index: 10000;
    border: #e72418 1px solid;
    border-top: #e72418 2px solid;
    font: 12px Arial,tahoma,\5b8b\4f53;
    background: #fff;
    right:120px;
    top:172px;
}
#search .erweima .list_detail{
    width: 100%;
    margin:0;
}


#search .erweima .minicart_list .checkout_box{
    margin:0;
    float: left;
    width: 327px;
    background: #f7f7f7;
    padding: 10px;
}

#search .erweima .minicart_list .checkout_btn{
    width: 70px;
    height: 27px;
    line-height: 28px;
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    display: inline-block;
    margin-top: 10px;
    background-color: #e72418;
    border-bottom: #c60000 1px solid;
    border-radius: 1px;
}

#search .erweima .none_tips{
    display:inline-block;
    border:0 none;
    width:330px;
    text-align: left;
    padding:0;
}

#search .erweima .none_tips i{
    border:0 none;
    display:inline-block;
    width:80px;
    height: 76px;
    margin-right:20px;
    padding:0;    
    background: url("../images/cart/1.png") no-repeat left;
    background-position:-15px -285px;
}

#search .erweima .none_tips>p{
    display:inline-block;
    width:150px;
    height: 56px;
    color: #a5a5a5;
    padding-top: 20px;
    line-height:20px;
    vertical-align: top;
}


/*==================头部购物车============================*/
#search .minicart_list{
    display:none;
}




#search .minicart_list .list_detail .cartgoods{
    text-align: left;
    width:330px;
    margin: 0 1px;
    max-height: 329px;
    /*min-height: 142px;*/
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;

}

#search .minicart_list .cartgoods li{

    width: 328px;
    height: 40px;
    padding: 10px 10px;
    border-bottom: 1px solid #f3f3f3;
    position: relative;
    z-index: 999;

}
#search .minicart_list .cartgoods .pro_name{
    display:inline-block;
    line-height: 20px;
    width: 130px;
    height: 40px;
    overflow: hidden;
    line-height:20px;
    color:#5e5e5e;
    vertical-align:middle;
    margin:0 2px;
}

#search .minicart_list .cartgoods .pro_price{
    color:red;
    font-weight: bold;
}

#search .minicart_list .num_box{
    float:right;
    border:0 none;
    display:inline-block;
    vertical-align: middle;
    width:100px;
    margin:0;
}

#search .minicart_list .num_box b{
    width: 13px;
    height: 13px;
    margin-top: 3px;
    border: 0;
    cursor: pointer;
    vertical-align: middle;
    display: inline-block;
    margin-right: 3px;
}

#search .minicart_list .num_box .minus{
    background: url(//s.maiyaole.com/images/201306/images/common_sprite.png?t==20141218) no-repeat right 0; 
     background-position: 0 -581px;
}
#search .minicart_list .num_box .plus{
    background: url(//s.maiyaole.com/images/201306/images/common_sprite.png?t==20141218) no-repeat right 0;
        margin-left: 3px;
    background-position: -15px -581px;
}

.num_box .minicart_num{
    width: 28px;
    height: 16px;
    margin-top: 3px;
    border: 1px solid #cfcfcf;
    text-align: center;
    vertical-align: middle;
    color: #262626;
}

.minus{
    width: 13px;
    height: 13px;
    margin-top: 3px;
    border: 0;
    cursor: pointer;
    vertical-align: middle;
    display: inline-block;
}